/*
 * style.css
 * ~~~~~~~~~
 *
 * :copyright: Copyright 2011 by Lincoln Loop, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */

@import url("rtd.css");

/* INDEX ------------------------------------------------------------------ */



/* LOG RUNS --------------------------------------------------------------- */

.aggregation {
    clear: both;
    padding-top: 1em;
}

.aggregation h3 {
    display: inline;
}

.expandlink {
    margin-right: 1em;
}
