{% extends "debug_logging/base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1>Django Debug Logging</h1>
  <p>Select a test run below to review the results.</p>
  <h2>Test Runs</h2>
  {% for run in runs %}
    <a href="{{ run.get_absolute_url }}">{{ run.start }}</a>
  {% empty %}
    <p>There are no test runs available to review.</p>
  {% endfor %}
{% endblock %}

{% block sidebar %}
  <h3>Test Run Status</h3>
  <ul>
    <li><a href="#" id="start-run">Start a run</a></li>
    <li><a href="#" id="cancel-run">Cancel a run</a></li>
  </ul>
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}debug_logging/js/test_run.js" type="text/javascript"></script>
{% endblock %}
