{% extends "debug_logging/base.html" %}

{% block title %}Log Record: {{ record.request_path }}{% endblock %}

{% block breadcrumbs %}
  <li>&raquo;<a href="{% url debug_logging_run_detail test_run.id %}">Test Run: {{ test_run }}</a></li>
  <li>&raquo;<a href="{% url debug_logging_record_detail record.id %}">Log Record: {{ record.request_path }}</a></li>
{% endblock %}

{% block sidebar %}
  <h3>Project</h3>
  <p>{{ record.test_run.project_name|default:"(Not recorded)" }}</p>
  <h3>Hostname</h3>
  <p>{{ record.test_run.hostname|default:"(Not recorded)" }}
  <h3>Revision</h3>
  <p>{{ record.test_run.revision|default:"(Not recorded)" }}
{% endblock %}

{% block body %}
  <ul class="messages">
    {% with "active" as record_class %}
      {% include "debug_logging/_inline_record.html" %}
    {% endwith %}
  </ul>
  
  <table class="recordinfo"><tbody>
    <tr><th class="key">REQUEST PATH</th><td>{{ record.request_path }}</td></tr>
    <tr><th class="key">SETTINGS</th>
      <td>
        <table class="vars expandable">
          <thead>
            <tr><th>Variable</th><th>Value</th></tr>
          </thead>
          <tbody>
            {% for var in record.settings.items|dictsort:"0" %}
        	  <tr><td>{{ var.0 }}</td><td class="code">{{ var.1|pprint }}</td></tr>
          	{% endfor %}
      	  </tbody>
    	  </table>
    	</td>
    </tr>
  </tbody></table>
  <h2>Timer Stats</h2>
  <table class="recordinfo"><tbody>
    <tr><th class="key">USER CPU TIME</th><td class="values">{{ record.timer_utime|floatformat:"-2" }} ms</td></tr>
    <tr><th class="key">SYSTEM CPU TIME</th><td class="values">{{ record.timer_stime|floatformat:"-2" }} ms</td></tr>
    <tr><th class="key">TOTAL CPU TIME</th><td class="values">{{ record.timer_cputime|floatformat:"-2" }} ms</td></tr>
    <tr><th class="key">ELAPSED TIME</th><td class="values">{{ record.timer_total|floatformat:"-2" }} ms</td></tr>
    <tr><th class="key">CONTEXT SWITCHES</th><td class="values">{{ record.timer_vcsw }} voluntary, {{ record.timer_ivcsw }} involuntary</td></tr>
  </tbody></table>
  <h2>SQL Stats</h2>
  <table class="recordinfo"><tbody>
    <tr><th class="key">QUERIES</th><td class="values">{{ record.sql_num_queries }}</td></tr>
    <tr><th class="key">TIME</th><td class="values">{{ record.sql_time|floatformat:"-2" }} ms</td></tr>
    <tr><th class="key">INDIVIDUAL QUERIES</th>
      <td>
        <table class="vars expandable">
          <thead>
            <tr><th>Query</th><th>Time</th></tr>
          </thead>
          <tbody>
            {% for query in record.sql_queries %}
        	  <tr>
        	    <td class="code">{{ query.sql|safe }}</td>
        	    <td>{{ query.duration|floatformat:"-2" }}</td>
        	  </tr>
          	{% endfor %}
      	  </tbody>
    	  </table>
    	</td>
    </tr>
  </tbody></table>
  <h2>Cache Stats</h2>
  <table class="recordinfo"><tbody>
    <tr><th class="key">CALLS</th><td class="values">{{ record.cache_num_calls }}</td></tr>
    <tr><th class="key">TIME</th><td class="values">{{ record.cache_time|floatformat:"-2" }} ms</td></tr>
    <tr><th class="key">HITS</th><td class="values">{{ record.cache_hits }}</td></tr>
    <tr><th class="key">MISSES</th><td class="values">{{ record.cache_misses }}</td></tr>
    <tr><th class="key">SETS</th><td class="values">{{ record.cache_sets }}</td></tr>
    <tr><th class="key">GETS</th><td class="values">{{ record.cache_gets }}</td></tr>
    <tr><th class="key">GET MANY</th><td class="values">{{ record.cache_get_many }}</td></tr>
    <tr><th class="key">DELETES</th><td class="values">{{ record.cache_deletes }}</td></tr>
    {# Todo: create a click-to-view item for full Cache call data #}
  </tbody></table>
{% endblock %}

