{% extends "debug_logging/base.html" %}

{% block title %}Test Run: {{ test_run }}{% endblock %}

{% block breadcrumbs %}
  <li>&raquo;<a href="{% url debug_logging_run_detail test_run.id %}">Test Run: {{ test_run }}</a></li>
{% endblock %}

{% block sidebar %}
  <div class="aggregation">
    <h3>Aggregated stats:</h3>
    <table>
      <tbody>
        <tr>
          <td>Avg Elapsed Time</td>
          <td>{{ test_run.avg_time|floatformat:"-2" }} ms</td>
        </tr>
        <tr>
          <td>Avg CPU Time</td>
          <td>{{ test_run.avg_cpu_time|floatformat:"-2" }} ms</td>
        </tr>
        <tr>
          <td>Avg SQL Time</td>
          <td>{{ test_run.avg_sql_time|floatformat:"-2" }} ms</td>
        </tr>
        <tr>
          <td>Avg Queries</td>
          <td>{{ test_run.avg_sql_queries|floatformat:"-2" }}</td>
        </tr>
        <tr>
          <td>Max Queries</td>
          <td>{{ test_run.max_sql_queries }}</td>
        </tr>
        <tr>
          <td>Total Queries</td>
          <td>{{ test_run.total_sql_queries }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Sort by:</h3>
    <div id="resultfilter">
      <ul>
        <li><a href="?p={{ page.number }}">Timestamp</a></li>
        <li><a href="?p={{ page.number }}&amp;sort=response_time">Response time</a></li>
        <li><a href="?p={{ page.number }}&amp;sort=sql_queries">Sql queries</a></li>
        <li><a href="?p={{ page.number }}&amp;sort=sql_time">Sql time</a></li>
      </ul>
    </div>
    <h3>Highlight thresholds:</h3>
    <div id="thresholds">
      <p>
        <label for="time-threshold">Response time:</label>
        <input type="text" id="time-threshold" value="3000">
      </p>
      <p>
        <label for="sql-threshold">SQL queries:</label>
        <input type="text" id="sql-threshold" value="200">
      </p>
    </div>
  </div>
{% endblock %}

{% block body %}
  <h1>Test Run: {{ test_run }}</h1>
  
  <ul class="messages">
    {% for record in page.object_list %}
      {% include "debug_logging/_inline_record.html" %}
    {% endfor %}
  </ul>
  
  {% if page.has_previous or page.has_next %}
  <div class="paging">
		<div class="paging-meta">Page {{ page.number }}</div>
		<ul class="paging-endless">
		  {% if page.has_previous %}
		    <li class="paging-previous">
		      <a href="?p={{ page.previous_page_number }}&amp;from_date={{ from_date|date:"Y-m-d H:i:s"|urlencode }}&amp;to_date={{ to_date|date:"Y-m-d H:i:s"|urlencode }}">Previous Page</a>
		    </li>
		  {% else %}
			  <li class="paging-previous"><span>Previous Page</span></li>
			{% endif %}
			{% if page.has_next %}
  			<li class="paging-next">
  			  <a href="?p={{ page.next_page_number }}&amp;from_date={{ from_date|date:"Y-m-d H:i:s"|urlencode }}&amp;to_date={{ to_date|date:"Y-m-d H:i:s"|urlencode }}">Next Page</a>
  			</li>
  		{% else %}
    		<li class="paging-next"><span>Next Page</span></li>
    	{% endif %}
		</ul>
	</div>
	{% endif %}
{% endblock %}
