{% extends "debug_logging/base.html" %}

{% block title %}Test Run: {{ test_run.start }}{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url debug_logging_run_detail test_run.id %}">Test Run: {{ test_run.start }}</a></li>
{% endblock %}

{% block body %}
  <h1>Test Run: {{ test_run.start }}</h1>
  <div class="aggregation">
    <h3>Aggregated stats:</h3>
    <table class="vars expandable">
      <thead>
        <th>Statistic</th><th>Value</th>
      <tbody>
        <tr>
          <td>Avg Elapsed Time</td>
          <td>{{ aggregates.timer_total__avg|floatformat:"-2" }} ms</td>
        </tr>
        <tr>
          <td>Avg CPU Time</td>
          <td>{{ aggregates.timer_cputime__avg|floatformat:"-2" }} ms</td>
        </tr>
        <tr>
          <td>Avg SQL Time</td>
          <td>{{ aggregates.sql_time__avg|floatformat:"-2" }} ms</td>
        </tr>
        <tr>
          <td>Avg SQL Queries</td>
          <td>{{ aggregates.sql_num_queries__avg|floatformat:"-2" }}</td>
        </tr>
        <tr>
          <td>Max SQL Queries</td>
          <td>{{ aggregates.sql_num_queries__max }}</td>
        </tr>
      </tbody>
    </table>
    <h3>Sort by:</h3>
    <div class="resultfilter expandable">
      <a href="?p={{ page.number }}">Timestamp</a> |
      <a href="?p={{ page.number }}&amp;sort=response_time">Response time</a> |
      <a href="?p={{ page.number }}&amp;sort=sql_queries">Sql queries</a> |
      <a href="?p={{ page.number }}&amp;sort=sql_time">Sql time</a>
    </div>
    <h3>Highlight thresholds:</h3>
    <div class="resultfilter expandable">
      <label for="time-threshold">Response time:</label>
      <input type="text" id="time-threshold" value="3000">
      <label for="sql-threshold">SQL queries:</label>
      <input type="text" id="sql-threshold" value="200">
    </div>
  </div>
  
  <ul class="messages">
    {% for record in page.object_list %}
      {% include "debug_logging/_inline_record.html" %}
    {% endfor %}
  </ul>
  
  {% if page.has_previous or page.has_next %}
  <div class="paging">
		<div class="paging-meta">Page {{ page.number }}</div>
		<ul class="paging-endless">
		  {% if page.has_previous %}
		    <li class="paging-previous">
		      <a href="?p={{ page.previous_page_number }}&amp;from_date={{ from_date|date:"Y-m-d H:i:s"|urlencode }}&amp;to_date={{ to_date|date:"Y-m-d H:i:s"|urlencode }}">Previous Page</a>
		    </li>
		  {% else %}
			  <li class="paging-previous"><span>Previous Page</span></li>
			{% endif %}
			{% if page.has_next %}
  			<li class="paging-next">
  			  <a href="?p={{ page.next_page_number }}&amp;from_date={{ from_date|date:"Y-m-d H:i:s"|urlencode }}&amp;to_date={{ to_date|date:"Y-m-d H:i:s"|urlencode }}">Next Page</a>
  			</li>
  		{% else %}
    		<li class="paging-next"><span>Next Page</span></li>
    	{% endif %}
		</ul>
	</div>
	{% endif %}
{% endblock %}
